# Gitに送らないもの
# 依存関係（超重要）
node_modules

# Next.jsのビルドキャッシュ
.next
out
dist
build

# 環境変数（セキュリティ的にGitに上げたくないもの）
.env
.env.local
.env.*.local
.env.prod

# OS特有のゴミファイル
.DS_Store

# データベースのVolumeファイル
/db
Thumbs.db

.vscode
.idea

#  一旦混じってしまうため送らない
docker-compose.yml
docker-compose.prod.yml