.text-stroke-top-amber, .text-stroke-top-white {
    font-family: "Arial Black";
}
.text-stroke-top-amber {
    color: var(--color-amber-400); /* 文字自体の色 */
    -webkit-text-stroke: 2x  var(--color-amber-400); /* 縁の太さ と 縁の色 */
    text-stroke: 2px var(--color-amber-400)
}
.text-stroke-top-white {
    color: var(--color-white); /* 文字自体の色 */
    -webkit-text-stroke: 2px var(--color-white); /* 縁の太さ と 縁の色 */
    text-stroke: 2px var(--color-white);
}
