@import "tailwindcss";
@plugin "daisyui";
/* #001F3D
#ED985F
#F7B980
#E6E6E6 */
:root {
    --background: #292B2F;
    --foreground: #292B2F;
    --font-color: #3a2d7b;

    /** header */
    --header-background: #001F3D;
    --header-font-color: #ffffff;

    /** nav */
    --nav-background: #f7e497;
    --nav-font-color: #544040;

    /** main */
    --main-background:#E6E6E6;
    --main-font-color: #443737;

    /** footer */
    --footer-background:#584335;
    --footer-font-color: #070606;
    
    /** #F7B980*/

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292B2F;
    --foreground: #292B2F;
    --font-color: #3a2d7b;

    /** header */
    --header-background: #F7DC6F;
    --header-font-color: #4e0e0e;
  }
}

/**
オレンジ: #F39C12
パープル: #7D3C98
ブラック: #292B2F
イエロー: #F7DC6F
*/
body {
  background: var(--background);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed; /* ここに注目! */
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background-color: var(--header-background);
  color: var(--header-font-color);
  padding-inline: 15px;
  align-content: center;
}
nav {
  background-color: var(--nav-background);
  color: var(--nav-font-color);
  transition: 0.2s;
}
main {
  background-color: var(--main-background);
  color: var(--main-font-color);
}

footer {
  color: var(--footer-background);
  background-color: var(--footer-font-color);
}
