.moon {

    --hsl-color-title: #def5ff; // タイトルの文字色
    --hsl-color-logo-point: #2bb3ed; // ロゴのポイントカラー
    --hsl-color-logo: #f7fdff; // ロゴカラー
    --hsl-bar-image-color: linear-gradient(to right, #0b131e 0% 40%, #1a305c 40% 55%, #285c8f 75% 85%, #3d85c6 75% 100%);
    --hsl-menu-background-color: #3d85c6; // メニューの背景色

    header {
        background-image: var(--hsl-bar-image-color);

        h1 {
            color: var(--hsl-color-title);
        }

        .drawer-side ul {
            background: var(--hsl-menu-background-color);
        }
    }

    footer {
        background-image: var(--hsl-bar-image-color);

        span {
            color: var(--hsl-color-title);
        }
    }

    main {
        background: radial-gradient(#001aa3, #171717);
    }

    main.hsl-c-top {
        background-image: url('/image/bg_top_moon.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;

        .logo {
            span {
                color: var(--hsl-color-logo);
                -webkit-text-stroke: 2px var(--hsl-color-logo);
                text-stroke: 2px var(--hsl-color-logo);
            }

            .point {
                color: var(--hsl-color-logo-point);
                -webkit-text-stroke: 2x var(--hsl-color-logo-point);
                text-stroke: 2px var(--hsl-color-logo-point);
            }
        }
    }
}